a {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.center {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

div {
    font-size: 1rem;
}