div {
    height: 50px;
    width: 50px;
    margin: 1px position:absolute;
    top: 0;
    left: 0;
}

#circle {
    border-radius: 25px;
    background-color: green;
}

#triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;
}

#square {
    background-color: red;
}